.App {

  min-height: 100vh;
  min-width: 100vw;

  &-content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;    
  }

}

.main {
  grid-row: 2/-1;
  grid-column: 2/-1;
}